header{color: black; text-align: center; 
    font-size: 35px; height: 3em; }  
    body{background-color: lightsalmon;}   
h1{ background-color: lavender ; width:450px; 
    height: auto; 
    margin: 0%;
    border-radius: 10%
}
