header{text-align: center; font-size: 35px; }  
    body{background-color: lightsalmon;}   

        h1{ background-color: lavender ; width:450px; 
        height: 70; 
        margin: 5%;
        width: 900;
        border-radius: 10%;
     
        }
   